body {
  background-color: #000033;
  background-image: url("../images/Background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
body.book {
  background-color: #330000;
  background-image: url("../images/Book-Background.gif");
}
body.interview {
  background-color: #003300;
  background-image: url("../images/Inter-Background.gif");
}
body.ritual {
  background-color:#190031;
  background-image: url("../images/Ritual-Background.gif");
} 


h1 {
  font-family: SinistreDark;
  margin: 20px;
  padding: 20px;
  font-size: 100px;
  color:rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  border: solid, 25px;
  border-radius: 50px;
  border-color: #336699;
}
h1.book {
  border-color: #cc0000;
}
h1.interview {
  border-color: #66cc33;
  /*border-style: dotted;*/
  grid-column: span 4;
}
h1.ritual {
  color: #330066;
  border-color: #330066;
}

h2 {
  font-family: Sinistre;
  margin: 30px;
  font-size: 44px;
  color:rgb(255, 255, 255);
  text-align: left;
  line-height: 1.2;
}
h2.interview {
    grid-column: span 4;
    margin-top: 10px;
}

ul{
  margin-top: 20px;
  padding: 15px;
  justify-self: center;
}
li {
  display: inline;
}

img.nav {
  max-width: 50px;
  height: auto;
  padding: 0px;
  margin-top: 20px;
}

p {
  font-family: SinistreBold;
  margin: 20px;
  font-size: 22px;
  color:#ffffff;
  text-align: left;
  line-height: 1.25;
  hyphens: auto;
}

p.blurb {
  padding: 20px;
  border: #336699, 25px;
  border-radius: 50px;
  border-left-style: solid;
  border-right-style: solid;
  /*background-color: black;*/
}
p.colophon {
  font-family: Sinistre;
  margin: auto;
  /*padding: 20px;*/
}

p.book {
  padding: 15px;
  border: 15px, #cc0000;
  border-radius: 30px;
  border-left-style: solid;
  border-right-style: solid;
  background-color: black;
}
.context{

}
.opinion{

}
p.meow {margin: auto; color: #ffcccc;}

p.BIGbook {
  font-family: SinistreBold;
  font-size: 44px;
  color: #ffcccc;
  line-height: 1.2;
  text-align: center;
  margin: auto;
  padding: 25px;

}

p.vic {
  /*font-style: italic;*/
  font-family: Sinistre;
  color: #66cc33;
  margin: 0px;
  padding: 10px;
  border: black, 25px;
  border-radius: 15px;
  border-style: solid;
  background-color: black;
  grid-column: 2;
}
p.val {
  margin: 0px;
  padding: 20px;
  border: #66cc33, 25px;
  border-radius: 50px;
  border-left-style: solid;
  grid-column: 3;
}
p.description{
  /*font-family: Sinistre;*/
  margin-left: 10px;
  margin-top: -5px;
  font-size: 16px;
  color:#66cc33;

}


.flex-container {
  display: flex;
justify-content: space-around;
}
.flex-container a:hover img{
  filter: brightness(.7);
}
div.sticky {
  position: sticky;
  top: 0;
  background-color:(black / 0.7);
  padding-bottom: 15px;
  grid-column: span 4;
  z-index: 3;
}
div.sticky a.active img,
div.sticky a:hover img {
  filter: brightness(.7);
}


img {
  max-width: 100%;
  height: auto;
 padding: 10px;
}

div.image-toggle{
  grid-column: 2;
}
.toggle-image {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
   transition: opacity 0.5s ease, max-height 0.5s ease;
  pointer-events: none;
}
.image-toggle .toggle-checkbox:checked ~ .toggle-image {
  opacity: 1;
  pointer-events: auto;
  max-height: 100%;
}
.toggle-checkbox:hover,
.toggle-checkbox:checked {
  filter: brightness(0.7);
}
.toggle-checkbox {
  all: unset;
  position:relative;
  width: 50px;
  height: 50px;
  background: #66cc33;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  margin-top: 10px;
}


.grid-containerHome {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  column-gap: 2em;
   margin-top: 20px;
}

.grid-containerBook {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
   margin-left: 30px;
   margin-right: 30px;
}
.book-scan {
  grid-column: span 3;
  display: flex;
  justify-content: center;
}

.grid-containerInterview {
  display: grid;
  grid-template-columns: 90px 1fr 2fr 90px;
  column-gap: 2em;
   /*margin-left: 120px;
   margin-right: 120px;*/
}


.slideshow {
  position: relative;
  width: 100vw;
  height: calc(100vh - 74px);
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom center;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
  background-repeat: no-repeat;
  /*border:#330066, solid, 20px;*/
  padding: 50px;
}
/* Show only the currently selected slide */
#step1:checked ~ .slideshow .img1,
#step2:checked ~ .slideshow .img2,
#step3:checked ~ .slideshow .img3,
#step4:checked ~ .slideshow .img4,
#step5:checked ~ .slideshow .img5,
#step6:checked ~ .slideshow .img6,
#step7:checked ~ .slideshow .img7 {
  opacity: 1;
  pointer-events: auto;
}

.radio {
   all: unset;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #9966ff;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    display:none;
}
.radio:hover {
  filter: brightness(0.7);
}

#step1:checked ~ #step2,
#step2:checked ~ #step3,
#step3:checked ~ #step4,
#step4:checked ~ #step5,
#step5:checked ~ #step6,
#step6:checked ~ #step7 {
  display: block;
}

.radio:checked {
  display: none !important;
}

#step1 {
  display: none;
}
#step2 {
    top: 20%;
    left: 48%;
}
#step3 {
    top: 43%;
    left: 48%;
}
#step4 {
    top: 80%;
    left: 48%;
}
#step5 {
    top: 63%;
    left: 30%;
}
#step6 {
    top: 63%;
    right: 33%;
}
#step7 {
    top: 63%;
    left: 49%;
}

